:root {
    --fontColor: #d2cce7;
}
* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Raleway', sans-serif;
    /* font-family: 'Playfair Display', sans-serif; */
    
    /* letter-spacing: 1px; */
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 20px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

.show-section {
    display: flex;
    display: -webkit-flex;
}
.hide-section {
    display: none !important;
}
.fade-out {
    opacity: 0;
    transition: 2s;
}
.section-header {
    font-size: 6vw;
    color: var(--fontColor);
    line-height: 80%;
}
hr {
    display: inline-block;
    margin: 0;
    border: 0;
    width: 40%;
}
.letter-shadow {
    text-shadow: -5px 2px rgb(177, 55, 55);
}
.subtitle {
    font-size: 1.5vw;
    color: var(--fontColor);
    letter-spacing: 1px;
    margin-top: 10px;
}

.navbar {
    background-color: black;
    display: flex;
    position: fixed;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
    height: 70px;
    top: 0px;
    z-index: 999;
}
#nav-small {
    display: none;
}
#container {
  display: inline-block;
  cursor: pointer;
  margin-right: 7vw;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: var(--fontColor);
  margin: 6px 0;
  transition: 0.4s;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {opacity: 0;}
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
#small-nav-items {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 70px;
}
.nav-items {
    display: inline-flex;
    position: relative;
    height: 67%;
    width: 10%;
    align-items: center;
    justify-content: center;
    font-size: 1.2vw;
    color: var(--fontColor);
    cursor: pointer;
}
.nav-items:hover {
    color: rgb(177, 55, 55);
    transition: 0.25s;
}

.nav-items:after {
    content: '';
    position: absolute;
    width: 60%;
    transform: scaleX(0);
    height: 2px;
    bottom: 10%; 
    left: 20%;
    right: 20%;
    background-color: rgb(177, 55, 55);
    transform-origin: center;
    transition: transform 0.25s ease-in;
}

.nav-items:hover:after {
  transform: scaleX(1);
}
a:link {
    text-decoration: none;
    color: var(--fontColor);
    }
    
    a:visited {
    text-decoration: none;
    color: var(--fontColor);
    }
    
    a:active {
    text-decoration: none;
    }
#welcome-section {
    position: relative;
    display: flex;
    background-image: linear-gradient(rgba(225, 214, 243, 0.85), rgba(225, 214, 243, 0.85)), url(images/london-city.jpg);
    background-size: cover;
    background-position: bottom;
    flex-direction: row;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    align-items: center;
    padding-right: 3vw;
    width: 100vw;
    height: calc(100vh - 70px);
    overflow: hidden;
}

#introduction-subtitle, #introduction-subtitle:link, #introduction-subtitle:visited, #introduction-subtitle:active, #introduction-subtitle:focus{
    text-decoration: underline;
    color:rgba(56, 0, 101, 1)
}

#skills-btn {
    background-color: #7f65fe;  /* rgb(41, 98, 93); */  
    display: flex;
    justify-content: center;
    letter-spacing: 0px;
    align-items: center;
    color: var(--fontColor);
    width: 50px;
    height: 50px;
    margin-right: 20vw;
    border-radius: 50%;
    left: 30vw;
    top: 100px;
    z-index: 1;
}
#skills-btn:hover {
    cursor: pointer;
    text-decoration:wavy;
}
#skills-btn:hover::after {
    background-color: darkred;
}
#skills-btn::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #7f65fe;  /* rgb(41, 98, 93); */  
  position: absolute;
  z-index: -1;
  animation: ring 1.5s infinite;
  /* -webkit-animation:  webkit-ring 2.5s infinite; */
  /* -moz-animation: moz-ring 2.5s infinite;
  -o-animation: o-ring 2.5 infinite; */
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }

  100% {
    width: 200px;
    height: 200px;
    opacity: 0;
  }
}

/* @-webkit-keyframes webkit-ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 0;
  }

  100% {
    width: 200px;
    height: 200px;
    opacity: 0;
  }
} */
/* 
@-moz-keyframes moz-ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 200px;
    height: 200px;
    opacity: 0;
  }
}

@-o-keyframes o-ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 200px;
    height: 200px;
    opacity: 0;
  }
} */

#curtain {
  top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    position: fixed;
    z-index: 1;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s;
    z-index: 999;
}

#flask-icon {
    width:20px;
    height:auto;
    background-image: url('./images/flask.png');
}

#close-curtain-button {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    color: white;
    padding: 1vw;
    background: grey;
    transition: 0.3s;
}
#close-curtain-button:hover {
    background:rgb(177, 55, 55);
    cursor: pointer;
}
#skill-list {
    display: none;
    grid-template-columns: auto auto auto auto;
    gap: 2rem 2rem;
    top: 4rem;
    left: 0rem;
    cursor: default;
}
.icons {
    padding: 30px;
    color: var(--fontColor);
}
.skill-list-items {
    display: flex;
    align-items: center;
    color: var(--fontColor);
    margin-left: 1vw;
    font-family: 'Raleway', sans-serif;
}

.curtain-icon {
    margin-right: 10px;
}

#introduction {
    position: relative;
    text-align: end;
    margin-right: 10vw;
    z-index: 10;
}
#decoration {
    position: absolute;
    left: -10%;
    width: 70vw;
    height: 70vw;
    background-image: url(images/programming.svg);
    background-position: bottom;
    background-size: cover;
    border-radius: 50%;
   
}
#about-section {
    display: flex;
    background-image: linear-gradient(rgba(225, 214, 243, 0.85), rgba(225, 214, 243, 0.85)), url(images/london-city.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: calc(100vh - 70px);
}

.defer-link {
    text-decoration: underline;
    background: linear-gradient(#458792 0 0) calc(100% - var(--length, 0%)) / var(--length, 0%);
    background-repeat: no-repeat;
    z-index: 0;
    transition: 0.4s, background-position 0s;
}


#about-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2vw;
    width: 70vw;
    height: 60%;
    background-color: #3b2359;
    border-radius: 20px;
    color: var(--fontColor);
    padding: 2em 2em 2em 4em;
    box-shadow: 10px 10px 15px black;
}
#about-summary {
    padding-right: 6vw;
    height: 90%;
    overflow: auto;
}
#about-photo {
    width: 13vw;
    height: auto;
    border-radius: 50%;
    margin-left: 2em;
    z-index: 1;
}
#projects-article {
    width: 100%;
    background-image: url('images/dark-purple-blue-background.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    padding: 3vw 1vw;
    min-height: calc(100vh - 70px);
}
#project-header {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 0;
}
.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.tile-descr {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3b2359;
    width: 60vw;
    padding: 3vw;
    margin-bottom: 40px;
    border-radius: 20px;
}
.project-tile {
   position: relative;
    height: 15vw;
    width: 15vw;
    border-radius: 15px;
}    

.project-name {
   position: relative;
    margin-bottom: 30px;
    font-size: 1.6vw;
    letter-spacing: 2px;
    padding: 0.1em;
    color: #e3ecff !important;
    background: linear-gradient(#458792 0 0) calc(100% - var(--length, 0%)) / var(--length, 0%);
    background-repeat: no-repeat;
    z-index: 0;
    transition: 0.4s, background-position 0s;
}
.project-name:hover, .defer-link:hover {
    --length: 100%;
    cursor: pointer;
}
.project-details {
        font-size: 1.2vw;
    }  
.descr {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30vw;
    color: #e3ecff !important;
    margin: 0px auto;
}
.page-nav {
    color: #e3ecff;
    border-radius: 10px;
    padding: 1.5rem;
    margin: 0 auto;
    background-color: #3b2359;
    letter-spacing: 2px;
}
.page-nav:hover {
    background-color: black;
    transition: 0.5s;
    cursor: pointer;
}

.github-link {
    width: 70px;
    height: 30px;
    margin: 15px auto 0 auto;
    padding: 10px;
    border-radius: 15px;
    background-color: lightgray;
    color: black !important;
    font-size: 13px;
    font-weight: bolder;
    text-align: center;
    transition: 0.3s;
}

.github-link:hover {
    background-color: #458792;
    color: #e3ecff !important;
}

#contact-section {
    background:
        linear-gradient(
          rgba(0, 0, 0, 0.7), 
          rgba(0, 0, 0, 0.7)
        ), 
    url('https://images.unsplash.com/photo-1528747045269-390fe33c19f2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    flex-direction: row;
    padding: 2rem 4rem 2rem 4rem;
    align-items: center;
    justify-content: center;
    overflow: inherit;
    min-height: calc(100vh - 70px);
}
#contact-labels {
    display: flex;
    flex-direction: column;
    align-self: center;
}
#contact-form {
    margin-left: 8vw;
    margin-top: 20px;
}
#textarea-form {
    margin-left: 1vw;
}
.form-label {
    margin: 10px 0 5px 0;
    font-size: 15px;
}
.contact-input {
   width: 23vw;
    height: 36px;
    border-radius: 0.3rem;
}
textarea {
    margin-bottom: 20px;
    width: 23vw;
    height: 115px;
}
#submit-button {
    display: block;
    border: 1px solid var(--fontColor);
    background-color: black;
    width: fit-content;
    padding: 15px;
    cursor: pointer;
    border-radius: 0.3rem;
    font-family: 'Raleway', sans-serif;
}
#submit-button:hover {
    background-color: aliceblue;
    transition: 1s;
    color: #000;
    
}
#footer {
    position: relative;
    display: flex;
    background-color: black /* #2d362d;  #A7465C*/;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    /* border-top: 2px solid var(--fontColor); */
    padding: 0 1.5rem 0 1.5rem;
    height: 70px;
    z-index: 5;
}
.profile-link {
    display: flex;
}
.fa-brands {
    align-items: center;
}
.footer-content {
    color: var(--fontColor);
    font-size: 1.1vw;
}
.contact-link {
    margin: 0 1vw 0 1vw;
    justify-content: center;
    align-items: center;
}
.contact-link:hover .fa-brands{
    color: rgb(177, 55, 55);
    transition: 3s;
    transform: rotateY(540deg);
}

@media only screen and (max-width: 768px){
    #welcome-section {
        -webkit-justify-content: center;
        justify-content: center;
    }
    #welcome-photo {
        width: 20vw;
    }
    #decoration {
        background-image: linear-gradient(rgba(225, 214, 243, 0.8), rgba(225, 214, 243, 0.8)), url(images/programming.svg);
    }
    #introduction {
        margin-right: 0;
    }
    #skill-list {
    grid-template-columns: auto auto;
    }
    #skills-btn {
        background-color: #380065;
    }
    #skills-btn::after {
        border: 6px solid #380065;
    }
    .subtitle {
        font-size: 4vw;
    }
    .nav-items {
        width: 17%;
        font-size: 1.8vw;
    }
    .nav-items:after {
        width: 70%;
        left: 15%;
        right: 15%;
    }
    .section-header {
        font-size: 8vw;
    }
    hr {
        width: 20%;
    }
    #about-box {
        width: 75vw;
        height: 65%;
        padding: 2em;
        font-size: 13px;
    }
    .tile-descr {
    width: 85vw;
    }
    .descr {
        width: 50%;
    }
    .project-tile {
        width: 30vw;
        height: 30vw;
    }
    .project-name {
        font-size: 2.5vw;
        margin-bottom: 20px;
    }
    .project-details {
        font-size: 2vw;
    }
    .project-title, .page-nav, #skills-btn {
        font-size: 2.1vw;
    }
    #contact-form {
        margin-left: 3vw;
    }
    .contact-input, textarea {
        width: 33vw;
    }
    .footer-content {
        font-size: 2vw;
    }
}

@media only screen and (max-width: 425px){
    body {
        font-weight: bold;
    }
    #nav-default {
        display: none;
    }
    #nav-small {
        display: flex;
    }
    .nav-items {
        display: block;
    font-size: 15px;
    text-align: end;
    width: auto;
    padding: 3vw 5vw 3vw 30vw;
    background-color: rgba(56, 0, 101, 0.8);
    right: auto;
    }

    .nav-items:after {
    width: 40%;
    left: initial;
    right: 5vw;
}
    .letter-shadow {
        text-shadow: -2px 2px red;
    }
    .section-header {
        letter-spacing: -1px;
        text-align: center;
        font-size: 35px;
        line-height: 90%;
    }
    hr {
        display: none;
        width: 15%;
    }
    #welcome-section {
        top: 70px;
        flex-direction: column-reverse;
        background-image: linear-gradient(rgba(225, 214, 243, 0.85), rgba(225, 214, 243, 0.85)), url(images/programming.svg);
        align-items: center;
        justify-content: start;
        -webkit-justify-content: start;
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        height: calc(100vh - 140px);
    }
    #welcome-photo {
        float:none;
        width: 30vw;
        margin: 20px 0 20px 0;
    }
    #decoration {
        display: none;
        /* left: auto;
        top: 40vh;
        width: 200vw;
        height: 200vw;
        background-position: top;
        background-size: contain; */
    }
    .icons {
        padding: 23px;
    }
    #skills-btn {
        padding: 1em 1em;
        margin-right: 0;
        margin-top: 100px;
    }
    #introduction {
        margin-top: 40px;
    }
    .tile-descr {
    flex-direction: column;
}
.descr {
    width: 75%;
    margin-top: 10px;
}
#about-section, #contact-section {
    height: calc(100vh - 70px);
    margin-top: 70px;
}
#about-box {
    flex-direction: column-reverse;
    width: 85vw;
    justify-content: space-evenly;
    padding: 4vw;
    height: 93%;
}
#about-photo {
    width: 30vw;
}

.project-name {
    font-size: 4vw;
    margin-bottom: 10px;
}
.project-details {
    font-size: 3.7vw;
}
    .project-tile {
        width: 70vw;
        height: 70vw;
    }
    .subtitle {
        font-size: 20px;
    }
    #footer{
        justify-content: space-evenly;
    }
    #social-media {
        width: 100vw;
        display: flex;
        justify-content: space-evenly;
    }
    .project-title, .page-nav, #skills-btn {
        font-size: 3vw;
    }
    #contact-section {
        flex-direction: column;
        padding: 10px 10px;
        min-height: calc(100vh - 140px);
    }
    #contacts-subtitle {
        text-align: center;
    }
    .contact-input, textarea {
        width: 80vw;
    }
    .footer-content {
        font-size: 3vw;
    }
}

