* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}
body {
    font-family: 'Rajdhani', "Century Gothic", CenturyGothic, Geneva, sans-serif;
    background-color: white;
   
}
.show-section {
    display: flex;
    display: -webkit-flex;
}
.hide-section {
    display: none !important;
}
.fade-out {
    opacity: 0;
    transition: 2s;
}
.section-header {
    font-size: 6vw;
    font-weight: bold;
    color: navajowhite;
    letter-spacing: -2px;
    line-height: 80%;
}
hr {
    display: inline-block;
    margin: 0;
    border: 0;
    width: 40%;
}
.letter-shadow {
    text-shadow: -5px 2px rgb(177, 55, 55);
}
.subtitle {
    font-size: 1.5vw;
    color: navajowhite;
    letter-spacing: 1px;
    margin-top: 10px;
}

nav {
  background-color: black;
    display: flex;
    position: fixed;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
    height: 70px;
    top: 0px;
    z-index: 999;
}
.blank {
  background-color: #A37A65;
  width: 100vw;
  height: 8vh;
}
.nav-items {
    display: inline-flex;
    position: relative;
    height: 67%;
    width: 17%;
    right: 10vw;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
    color: navajowhite;
    cursor: pointer;
    /* border: 1px solid white; */
}
.nav-items:hover {
    color: rgb(177, 55, 55);
    transition: 0.25s;
}

.nav-items:after {
    content: '';
    position: absolute;
    width: 30%;
    transform: scaleX(0);
    height: 2px;
    bottom: 10%;
    left: 35%;
    right: 35%;
    background-color: rgb(177, 55, 55);
    transform-origin: center;
    transition: transform 0.25s ease-in;
}

.nav-items:hover:after {
  transform: scaleX(1);
  transform-origin: center;
}
a:link {
    text-decoration: none;
    color: navajowhite;
    }
    
    a:visited {
    text-decoration: none;
    color: navajowhite;
    }
    
    a:active {
    text-decoration: none;
    }
#welcome-section {
    position: relative;
    display: flex;
    background-color: #29625D;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    align-items: center;
    padding-right: 3vw;
    width: 100vw;
    height: calc(100vh - 70px);
    overflow: hidden;
}
#skills-btn {
    background-color: rgb(41, 98, 93);
    display: flex;
    justify-content: center;
    align-items: center;
    color: navajowhite;
    width: 7vw;
    height: 7vw;
    font-size: 1.3vw;
    letter-spacing: 2px;
    margin-right: 20vw;
    border-radius: 50%;
    left: 30vw;
    top: 100px;
    z-index: 1;
}
#skills-btn:hover {
    cursor: pointer;
    text-decoration:wavy;
}
#skills-btn:hover::after {
    background-color: darkred;
}
#skills-btn::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid rgb(41, 98, 93);
  position: absolute;
  z-index: -1;
  animation: ring 2.5s infinite;
}
#curtain {
  top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    position: fixed;
    z-index: 1;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s;
    z-index: 999;
}
#close-curtain-button {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    color: white;
    padding: 1.5vw;
    background: grey;
    transition: 0.3s;

}
#close-curtain-button:hover {
    background:rgb(41, 98, 93);
    cursor: pointer;
}

#skill-list {
    display: none;
    flex-direction: column;
    top: 4rem;
    left: 0rem;
    cursor: default;
}
.icons {
    padding: 7vh;
    color: navajowhite;
}
.skill-list-items {
    color: navajowhite;
    margin-left: 2vw;
    font-family: 'Rajdhani', "Century Gothic", CenturyGothic, Geneva, sans-serif !important;
}
#introduction {
    position: relative;
    text-align: end;
    margin-right: 5vw;
    z-index: 10;
}
#decoration {
    position: absolute;
    left: -65%;
    width: 120vw;
    height: 120vw;
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(https://images.unsplash.com/photo-1531297484001-80022131f5a1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2020&q=80);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
   
}
#welcome-photo {
    float: right;
    width: 11vw;
    height: auto;
    border-radius: 50%;
}
#projects-article {
    width: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('https://images.unsplash.com/photo-1526374965328-7f61d4dc18c5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-position: right;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    padding: 3vw 1vw;
    min-height: calc(100vh - 50px);
}
#project-header {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0;
}
.project-grid {
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    grid-template-columns: auto auto auto;
    grid-column-gap: 5vw;
    grid-row-gap: 3vw;
    margin-top: 3vw;
}
.project-tile {
   position: relative;
    height: 15vw;
    width: 15vw;
    border-radius: 15px;
}    

.project-title {
    position: absolute;
    display: flex;
    bottom: 0px;
    height: 30%;
    width: 100%;
    font-size: 1vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #29625D;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.project-title::before {
    content: '</';
    color: lightgreen;
    opacity: 0;
}
.project-title::after {
    content: '>';
    color: lightgreen;
    opacity: 0;
}
.project-tile:hover .project-title::before {
    opacity: 1;
    transition: .5s; 
}
.project-tile:hover .project-title::after {
    opacity: 1;
    transition: .5s; 
}
.project-tile:hover {
    transform: scale(1.2); 
    transition: 1s;
}   

.page-nav {
    color: navajowhite;
    margin: 1rem auto 0 auto;
    border-radius: 10px;
    padding: 1.5rem;
    margin-top: 2rem;
    background-color: #29625D;
    letter-spacing: 2px;
    font-size: 1vw;
}
.page-nav:hover {
    background-color: black;
    transition: 0.5s;
    cursor: pointer;
}
#contact-section {
    background:
        linear-gradient(
          rgba(0, 0, 0, 0.7), 
          rgba(0, 0, 0, 0.7)
        ), 
    url('https://images.unsplash.com/photo-1528747045269-390fe33c19f2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    flex-direction: row;
    padding: 2rem 4rem 2rem 4rem;
    align-items: center;
    justify-content: center;
    overflow: inherit;
    min-height: calc(100vh - 70px);
}
#contact-labels {
    display: flex;
    flex-direction: column;
    align-self: center;
}
#contact-form {
    margin-left: 8vw;
    margin-top: 20px;
}
#textarea-form {
    margin-left: 1vw;
}
.form-label {
    margin: 10px 0 5px 0;
    font-size: 15px;
}
.contact-input {
   width: 23vw;
    height: 36px;
    border-radius: 0.3rem;
}
textarea {
    margin-bottom: 20px;
    width: 23vw;
    height: 115px;
}
#submit-button {
    display: block;
    border: 1px solid navajowhite;
    background-color: black;
    width: fit-content;
    padding: 15px;
    cursor: pointer;
    border-radius: 0.3rem;
    font-family: 'Rajdhani', "Century Gothic", CenturyGothic, Geneva, sans-serif;
}
#submit-button:hover {
    background-color: aliceblue;
    transition: 1s;
    color: #000;
    
}
#footer {
    position: relative;
    display: flex;
    background-color: black /* #2d362d;  #A7465C*/;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    /* border-top: 2px solid navajowhite; */
    padding: 0 1.5rem 0 1.5rem;
    height: 70px;
    z-index: 5;
}
.profile-link {
    display: flex;
}
.fa-brands {
    align-items: center;
}
.footer-content {
    color: navajowhite;
    font-size: 1.1vw;
}
.contact-link {
    margin: 0 1vw 0 1vw;
    justify-content: center;
    align-items: center;
}
.contact-link:hover .fa-brands{
    color: rgb(177, 55, 55);
    transition: 3s;
    transform: rotateY(540deg);
}
@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 200px;
    height: 200px;
    opacity: 0;
  }
}
@media only screen and (max-width: 768px){
    #welcome-section, #projects-article {
        min-height: calc(100vh - 50px);
        background-position: center;
    }
    #projects-article {
        background-position: initial;
        background-repeat: repeat-y;
        background-attachment: unset;
    }
    .subtitle {
        font-size: 4vw;
    }
    .nav-items {
        font-size: 2.6vw;
    }
    .nav-items:hover {
        font-size: 2.7vw;
    }
    .section-header {
        font-size: 11vw;
    }
    hr {
        width: 20%;
    }
    .project-grid {
        grid-row-gap: 6vw;
        margin-top: 6vw;
        grid-template-columns: auto auto;
    }
    .project-tile {
        width: 30vw;
        height: 30vw;
    }
    .project-title, .page-nav, #skills-btn {
        font-size: 2.1vw;
    }
    #contact-form {
        margin-left: 3vw;
    }
    .contact-input, textarea {
        width: 33vw;
    }
    .footer-content {
        font-size: 2vw;
    }
}

@media only screen and (max-width: 425px){
    .letter-shadow {
        text-shadow: -2px 2px red;
    }
    .section-header {
        letter-spacing: -1px;
        text-align: center;
        font-size: 17vw;
        line-height: 90%;
    }
    hr {
        display: none;
        width: 15%;
    }
    #skills-btn {
        padding: 1rem 1rem;
    }
    .project-grid {
        grid-template-columns: auto;
        grid-row-gap: 9vw;
        margin-top: 9vw;
    }
    .project-tile {
        width: 60vw;
        height: 60vw;
    }
    .subtitle {
        font-size: 6vw;
    }
    nav, #footer{
        justify-content: space-evenly;
    }
    #social-media {
        width: 100vw;
        display: flex;
        justify-content: space-evenly;
    }
    .nav-items {
        right: 0;
        font-size: 4vw;
        width: 20%;
    }
    .nav-items:hover {
        font-size: 4.1vw;
    } 
    .project-title, .page-nav, #skills-btn {
        font-size: 4vw;
    }
    #contact-section {
        flex-direction: column;
    }
    #contact-labels {
        margin-top: 30px;
    }
    #contacts-subtitle {
        text-align: center;
    }
    .contact-input, textarea {
        width: 80vw;
    }
    .footer-content {
        font-size: 3vw;
    }
}

